CompileFlags:
  Remove:
    - -mfix-esp32-psram-cache-issue
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
  Add:
    - -Wall
    - -Wextra

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    - readability-*
    - performance-*
    - modernize-*
    - bugprone-*

